.login__password {
  font-size: 14px;
  line-height: 30px;
  border: 0;
  border-bottom: 2px solid #CCCCCC;
  background-color: #000000;
  color: #FFFFFF;
}

.login__password:focus {
  outline: none;
  border-bottom: 2px solid #FFFFFF;
}

.login__password::placeholder {
  color: #CCCCCC;
  font-size: 14px;
  line-height: 17px;
}
