.profile__occupation {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  max-width: 500px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    max-width: 300px;
    text-align: center;
  }
}
