@import url('__heading/login__heading.css');
@import url('__email/login__email.css');
@import url('__password/login__password.css');
@import url('__signup/login__signup.css');
@import url('__link/login__link.css');
@import url('__save/login__save.css');

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  padding-top: 20px;
}
