.main {
  width: 882px;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (max-width: 920px) {
  .main {
    width: calc(100% - 2 * 40px);
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: calc(100% - 2 * 19px);
    padding-top: 42px;
  }
}
