@import url('__copyright/footer__copyright.css');

.footer {
  padding-bottom: 60px;
  width: 882px;
  margin: 0 auto;
}

@media screen and (max-width: 920px) {
  .footer {
    width: calc(100% - 2 * 40px);
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2 * 19px);
  }
}
