.logo__small {
  font-size: 11px;
  letter-spacing: 0.3px;
  line-height: 1;
  position: absolute;
  top: 3px;
  right: -46px;
}

@media screen and (max-width: 768px) {
  .logo__small {
    font-size: 9px;
    font-weight: 500;
    top: -1px;
    right: -40px;
}
}
