@import url('./vendor/normalize.css');
@import url('./fonts/inter.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/form/form.css');
@import url('./blocks/link/link.css');
@import url('./blocks/btn/btn.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/logo/logo.css');
@import url('./blocks/main/main.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/edit-profile/edit-profile.css');
@import url('./blocks/add-card/add-card.css');
@import url('./blocks/change-avatar/change-avatar.css');
@import url('./blocks/delete-card/delete-card.css');
@import url('./blocks/photo/photo.css');
@import url('./blocks/gallery/gallery.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/loader/loader.css');
@import url('./blocks/login/login.css');
@import url('./blocks/menu/menu.css');
