@import url('_opened/popup_opened.css');
@import url('_dark/popup_dark.css');
@import url('__close/popup__close.css');
@import url('__container/popup__container.css');
@import url('__container/_photo/popup__container_photo.css');

.popup {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .8s ease;
}
